<div *ngIf="category; else loading">
    <div class="side-form">
        <label for="name">Name:</label>
        <p>{{ category.name | uppercase }}</p>
        <br>
        <button class="edit" (click)="editMode = true">Edit Category</button>
        <button class="delete" (click)="confirm.showModal()">Delete Category</button>
        <dialog #confirm>
            <p>Are you sure you want to delete this category?</p>
            <div class="right">
                <button (click)="deleteCategory(category.id!)" autofocus>Ok</button>
                &nbsp;
                <button (click)="confirm.close()">Cancel</button>
            </div>
        </dialog>

        <div *ngIf="editMode">
            <form (ngSubmit)="updateCategory(category)" #categoryForm="ngForm">
                <label for="categoryName">Category Name:</label>
                <input type="text" id="categoryName" [(ngModel)]="category.name" name="name" required>

                <button class="update" type="submit">Update</button>
                <button class="cancel" type="button" (click)="editMode = false">Cancel</button>
            </form>
        </div>

        <div>
            <br>
            <button class="back" routerLink="/categories" >Back to list</button>
        </div>
    </div>
</div>
<ng-template #loading>
    <h2 class="loading">Loading category...</h2>
</ng-template>
